src/main/mule/demojenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19422eeb-9351-4807-9a9a-ddcbc3c92c25" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demojenkinsFlow" doc:id="058d497a-8f45-47e9-9bb4-515bc702f71c" >
		<http:listener doc:name="Listener" doc:id="7b1cd2e5-fd62-4c78-8f5a-bea4ec56fb39" config-ref="HTTP_Listener_config" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="b0472dca-1468-4da5-9f3a-653c3b876ed6" message="jenkins"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d3e0d158-cecf-4144-a454-616ee950c87f" />
		<logger level="INFO" doc:name="Logger" doc:id="e0de3ca8-c2b8-46cf-8607-3478cdefbf73" message="jenkinsdemo"/>
	</flow>
</mule>
